.create-skate-lobby {
    width: 100%;
    max-width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#lobby-settings {
    height: 25%;
    margin-top: 20px;
    width: 95%;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
}

#lobby-settings-block {
    position: absolute;
    background-color: #1e1e1e91;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    z-index: 3;
}

#lobby-settings-block p {margin-bottom: 60px;}

#visibility-switch {
    cursor: pointer;
    display: flex;
    background-color: #1e1e1e;
    border-radius: 30px;
    width: 35%;
    min-width: 200px;
    height: 40px;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

#private-lobby-visibility, #public-lobby-visibility {
    border: 2px solid #1e1e1e;
    width: 50%;
    height: 38px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: .3s linear;
}

#private-lobby-visibility {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #1e1e1e;
}

#public-lobby-visibility {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #1e1e1e;
}

#player-limit {text-align: center;}

#player-limit-control {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#player-limit-current {
    font-size: 30px;
    margin: 0;
}

#player-limit-control button {
    width: 30px;
    margin: 0 10px;
    box-shadow: none;
    height: 30px;
}

#lobby-code-text {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
}

#lobby-code {
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 650;
    text-decoration: underline;
}

#line {
    height: .5px;
    width: 70vw;
    max-width: 450px;
    background-color: white;
}