 .friend-list {
   width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}
/*
.friend-container {
    position: relative;
    width: 70%;
    margin-bottom: 30%;
    display: flex;
    align-items: center;
    font-size: 35px;
}

#bg-img {
    max-width: 600px;
    width: 120%;
    padding-bottom: 0;
    height: auto;
    position: absolute;
    z-index: 0;
}
#friend-name {
    font-size: 15px;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1;
    margin-left: 20px;
}

#friend-img {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    margin-left: 20px;
    z-index: 2;
}

#friend-info {
    display: flex;
    align-items: center;
    position: absolute;
}

@media screen and (min-width: 320px) {
    #friend-name {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1000px) {
    #friend-name {
      font-size: 30px;
    }
  }  */

  .friend-container {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#friend-name {
  font-size: 20px;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 1;
}

#bg-img {
  width: 120%;
}

#friend-img {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 8px;
  z-index: 2;
}

#friend-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  position: absolute;
}

@media screen and (max-width: 330px) {
  #friend-img {
    margin-top: 0;
  }
  #friend-name {
    font-size:15px;
  }
}
