.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery-container {
      border: 1px solid black;
      width: 33%;
  }

  .gallery-container img {
      width: fit-content;
  }