#join-lobby-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: auto;
    background-color: red;
    padding: 10px;
    position: absolute;
    left: 0; right: 0;
    bottom: 65px;
    border-radius: 10px;
    border: 1px solid black;
}

#join-lobby-code input {
    height: 30px;
    width: 160px;
    border-radius: 50px;
    margin-right: 20px;
}

#lobby-container-join-button {
    height: 30px;
    width: 80px;
    border-radius: 50px;
    margin: 0;
}

#public-skate-lobbies {
    overflow-y: scroll;
    height: calc(100vh - 120px);
    padding-bottom: 65px;
}