#back {
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
}

.level-menu {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

h3{
    color: #efefef;
    text-align: center;
}
