.lobbyMembers {
    width: 90vw;
    max-width: 550px;
    position: relative;
}

#invite-to-lobby-button {
    cursor: pointer;
    /* background-color: rgb(93, 155, 1); */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    /* border: 1px solid black; */
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
}

