.lobby-container {
    display: flex;
    color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 90vw;
    overflow: hidden;
    max-width: 550px;
    margin: 10px auto;
    border: 1px solid #4e4e4e63;
    border-radius: 10px;
    position: relative;
    overflow-y: scroll;
}

#lobby-container-information {
    display: flex;
    flex-direction: column;
}


#lobby-container-owner {
    margin-top: 5px;
    font-weight: 600;
}

#lobby-container-information p {
    margin: 0;
    text-align: center;
}

#lobby-container-images {
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lobby-container-images p {
    padding: 0;
    width: 40px; height: 40px;
    border-radius: 50%;
    line-height: 40px;
    border: 1px solid black;
    text-align: center;
    background-color: #A61F1F;
}

#lobby-container-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
    margin-left: 5px;
}
#lobby-container-join {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#lobby-availability {
    font-weight: bold;
}
