.lobbyMembers {
    width: 90vw;
    overflow-y: scroll;
    height: calc(100vh - 320px);
    max-width: 550px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    margin-left: auto; margin-right: auto;
    margin-bottom: 65px;

}

#invite-to-lobby-button {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center; 
    position: absolute;
    right: 5px;
    margin-right: 20px;
    margin-bottom: 50px;
}

#lobby-member-list {
    display: grid;  
    border-radius: 5px;
    margin-top: 25px;
    justify-content: center;
    overflow-x: hidden;
    grid-template-columns: auto auto;
}