.nav { 
    width: 100%;
    max-width: 550px;
    height: 64px;
    background-color: #101010;
    position: fixed;
    bottom: -2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0; right: 0;
    margin: 0 auto;
    z-index: 10;
}


.nav-icon {
    cursor: pointer;
    height: 44px;
    color: white;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: -10px;
}

.active {
    color: #cf2525;
}

#skate {
    height: 44px; width: 44px;
    filter : invert(92%) sepia(0%) saturate(7469%) hue-rotate(108deg) brightness(115%) contrast(98%);
    margin-top: -5px;
    margin-bottom: -2px;
    transform: rotate(45deg);
}

#game {
    height: 1.8rem; width: 1.8rem;
    margin-bottom: 5px;
    filter : invert(92%) sepia(0%) saturate(7469%) hue-rotate(108deg) brightness(115%) contrast(98%);
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #efefef;
    font-size: 10px;
    margin-bottom: 5px;
}

#link-profile{
    color: #cd2121;
}


  @media only screen and (max-width: 350px) {
    .nav-icon {
        padding: 10px;
        cursor: pointer;
        height: 30px;
    }
  }