.nav {
    width: 100vw;
    height: 64px;
    background-color: #101010;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    left: 0; right: 0;
    margin: 0 auto;
}

#center {
    background-color: #CF2121;
    width: 65px; height: 65px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}

#center img {
    width: 90%;
    transform: rotate(40deg);
    filter: invert(99%) sepia(37%) saturate(2%) hue-rotate(221deg) brightness(117%) contrast(100%);
}

.nav-icon {
    padding: 10px;
    cursor: pointer;
    height: 44px;
    color: white;
    font-size: 2.5rem;
}

.active:nth-child(2) {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(104%) contrast(102%);
  }

.active {
    color: #CF2121;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(104%) contrast(102%);
}

  @media only screen and (max-width: 350px) {
    .nav-icon {
        padding: 10px;
        cursor: pointer;
        height: 30px;
    }

    #center {
        width: 55px; height: 55px;
        
    }
  }