.nav { 
    width: 100%;
    height: 64px;
    background-color: #101010;
    position: fixed;
    bottom: -2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0; right: 0;
    margin: 0 auto;
    z-index: 10;
}


#center img {
    width: 90%;
    transform: rotate(40deg);
    filter: invert(99%) sepia(37%) saturate(2%) hue-rotate(221deg) brightness(117%) contrast(100%);

}

.nav-icon {
    cursor: pointer;
    height: 44px;
    color: white;
    font-size: 2rem;
}

.active {
    color: #cf2525;
}

#skate {
    height: 54px; width: 54px;
    filter : invert(92%) sepia(0%) saturate(7469%) hue-rotate(108deg) brightness(115%) contrast(98%);
    width: auto;
    transform: rotate(35deg);
}

#game {
    height: 40px; width: 40px;
    filter : invert(92%) sepia(0%) saturate(7469%) hue-rotate(108deg) brightness(115%) contrast(98%);
}



  @media only screen and (max-width: 350px) {
    .nav-icon {
        padding: 10px;
        cursor: pointer;
        height: 30px;
    }
  }