.progress-bar p {
    margin-top: 0px;
    font-size: 10px;
    float:right;
}

.light-grey {
    background-color: #1E1E1E;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    display: flex;
    border: 1px solid #1E1E1E;
}

.red {
    background-color: white;
    width: 64%;
    height: 7px;
    border-radius: 5px;  
}