
.skate-stat-parent {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skate-stat-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    color: white;
}

.skate-stat-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;

    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.skate-stat-text {
    font-size: 1.2rem;
}

.skate-preview {
    background-color: #101010;
    height: calc(60vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skate-img {
    width: 60%;
    height: 60%;
}