.lobby-invite-pop-up {
    position: fixed;
    top: 50%; left: 50%;
    transform: translateY(-75%) translateX(-50%);
    color: white;
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 90vw;
    padding: 30px 0px;
    max-width: 550px;

}

.lobby-invite-pop-up p {
    text-align: center;
    width: 80%;
   margin-bottom: 30px;
   margin-left: auto; margin-right: auto;
}

#lobby-invite-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#lobby-invite-buttons  button {
    border-radius: 5px;
    width: auto;
    height: 30px;
    width: 90px;
}

#lobby-invite-accept {
    background-color: rgb(24, 207, 24);
    border: 1px solid green;
}

#lobby-invite-deny {
    background-color: rgb(207, 24, 24);
    border: 1px solid rgb(99, 17, 17);
}