.profile-rankings p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    
}


.rankings {
    display: flex;
    text-align: center;
    width: 95%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 35px;
    justify-content: space-evenly;
    max-width: 550px;
    border-bottom: 1px solid white;
}

.ranking {
    width: 100%;
    display: block;
    padding: 0 10px;
    margin: 10px 20px;
}

.position {
    font-size: 22px;
    margin-bottom: 0px;
}
.category {
    font-size: 13px;
    font-style: italic;
    margin-top: 3px;
}

#rank-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

@media only screen and (max-width: 415px) {
    .rankings{
        justify-content: center;
        
    }
    .ranking {
        margin: 0;
    }
  }