html, body {height: 100%;}

body {
  background: transparent;
  background-image: none;
  /* background-image: linear-gradient(to bottom, #590D0D, #101010 ); */
  /* background: url(./images/image\ 13.png); */
  overflow: hidden;
}


#background-image {
  z-index: -1 ;
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}
